* {
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
    
}

body {
    font-family: Poppins;
    background-color: #FDF8ED;
    color: #081A48;
    
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #E1D9CF;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    font-family: Poppins;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 2rem;
}

nav .logo span {
    font-size: 1.35rem;
    font-weight: 500;
}

nav .menu {
    display: flex;
    list-style: none;
}

nav .menu li {
    margin-left: 25px;
}

nav .menu li a {
    font-size: 1.20rem;
    font-weight: 500;
}

.cart-icon img {
    margin-left: 25px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.background-small {
    background-image: url('pics/background_1.jpg');
    background-size: cover;
    height: 380px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.centered-text {
    text-align: center;
}

.centered-text h1 {
    font-size: 4rem;
    margin-bottom: 85px;
    font-family: 'Lobster', cursive;
    font-weight: normal; 
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 205px;
}

.item {
    font-size: 25px;
    color: white;              
    text-decoration: none;     
}

.background-large {
    background-image: url('pics/background_2.jpg');
    background-size: cover;
    height: 2200px;
    background-position: center;
    display: flex;
    align-items: flex-start; 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 0 auto;
    width: 80%; 
}

.title {
    font-size: 2rem;
    color: #2e2d6d; 
    margin-top: 50px; 
    align-self: flex-start; 
    margin-left: 40px; 
    font-family: Poppins, sans-serif; 
    font-weight: normal; 
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px;
    margin-left: 90px; 
}

.fruit-tea {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 130px;
    margin-left: 40px; 
}

.product {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.product h3 {
    margin: 0; 
    font-weight: normal; 
    color: #2e2d6d;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.best-seller-logo {
    width: 35px; 
    height: auto; 
    margin-left: 10px;
    vertical-align: middle; 
}

.product hr {
    margin: 10px 0;
}

.sizes {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
}

.size-option {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
}

.size {
    margin-right: 0px;
    width: 40px;
    color: #2e2d6d; 
}

.price {
    margin: 0 20px; 
    color: #2e2d6d; 
}

.add-to-cart {
    background-color: #2e2d6d; 
    color: white; 
    border: none; 
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: blue; 
}

footer {
    background-color: #2e2d6d;
    color: white; 
    text-align: center; 
    padding: 15px 0; 
    position: relative;
    bottom: 0; 
    width: 100%; 
    font-family: Poppins, sans-serif;
    font-weight: normal; 
}

.product-image {
    width: 150px;
    height: 200px;
    object-fit: cover; 
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 500px; 
    max-width: 90%; 
    height: auto;
    border-radius: 10px; 
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #E1D9CF; /* Background of the scrollbar track */
    border-radius: 10px; /* Roundness of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #271a03; /* Scrollbar thumb color */
    border-radius: 10px; /* Roundness of the thumb */
    border: 3px solid #f1f1f1; /* Creates padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
}
